projects/pixie-perilousness/fonts/** linguist-detectable=false
projects/pixie-perilousness/images/** linguist-detectable=false
projects/pixie-perilousness/sounds/** linguist-detectable=false
projects/pixie-perilousness/music/** linguist-detectable=false
