/*
 * High level styles
 */

* {
  font-family: Verdana, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  --main-bg-color: rgba(0, 15, 20, 0.7);
  --dark-font-color: rgb(0, 50, 100);
}

html, body {
  height: 100%;
}

body {
  background-image: url("swiss-alps-filters.jpg");
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--main-bg-color);
}

/*
 * Navigation menu styles
 */

nav a {
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.5s;
}

nav svg {
  height: 32px;
  fill: white;
  transition: fill 0.5s;
}

nav:hover a {
  color: rgb(170, 170, 170);
  transition: color 0.5s;
}

nav:hover svg {
  fill: rgb(170, 170, 170);
  transition: fill 0.5s;
}

nav a:hover {
  color: white;
}

nav svg:hover {
  fill: white;
}

a.nav-icon {
  position: relative;
  top: 2px;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

nav li {
  display: inline-block;
  margin: 0 20px;
}

/*
 * Page content general styles
 */

div.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 92%;
}

div.content {
  height: 86%;
  width: 90%;
  padding: 30px;
  overflow-y: auto;
  background-color: var(--main-bg-color);
  text-align: center;
  font-size: 1em;
}

div.content section {
  margin-bottom: 40px;
}

div.content h2 {
  margin-bottom: 40px;
}

div.content p {
  margin: 10px 0;
}

div.content a {
  color: rgb(120, 180, 50);
  text-decoration: none;
  font-weight: bold;
}

div.content figure {
  margin-top: 20px;
  margin-bottom: 40px;
}

div.content figcaption {
  font-style: italic;
}

div.content div.rambles {
  text-align: justify;
}

div.content ul {
  margin-left: 20px;
}

div.content ul li {
  padding: 5px;
}

div.content span.def {
  font-weight: bold;
}

/*
 * Home page styles
 */

p#tagline {
  font-size: 3em;
  text-shadow: 0 0 20px black;
  margin-bottom: 30px;
}

/*
 * Protected page styles
 */

div#login-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  padding: 30px 0;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.75);
}

p#login-prompt {
  font-size: 18px;
  color: var(--dark-font-color);
  margin-bottom: 20px;
}

input#password {
  height: 20px;
  width: 220px;
  padding: 10px;
  color: var(--dark-font-color);
}

p#wrong-password {
  color: red;
  margin-top: 5px;
}

button#login-button {
  background-color: rgba(0, 50, 100);
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  margin-top: 20px;
}
